<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form th:method="POST" th:action="@{/user/update}" th:object="${user}">
        <input type="hidden" th:value="${user.getId()}" id="id" name="id"/>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="Update!"/>
    </form>
</body>
</html>